<div class="row" style="padding-top: 15px">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <span class="card-title center" style="font-weight: 500 ; text-decoration: underline #26a69a">Rechercher un pokémon :</span>
                <div class="input-field">
                    <input 
                        #searchBox
                        (keyup)="search(searchBox.value)"
                    />
                <div class="collection">
                    <a *ngFor="let pokemon of pokemons$ | async"
                        (click)="goToDetail(pokemon)"
                        class="collection-item"
                    >
                        {{ pokemon.name }}
                    </a>
                </div>    
                </div>
            </div>
        </div>
    </div>
</div>