<div class="container">
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
      <div class="card horizontal" pkmnBorderCard>
        <div (click)="goToPokemon(pokemon)" class="card-image" style="margin:auto ; padding-left: 5px">
          <img [src]="pokemon.picture" style="width: 150px"> 
        </div> 
        <div class="card-stacked">
          <div class="card-content" style="display: grid;">
            <p style="font-weight: 650;">{{ pokemon.name }}</p>
            <p>{{ pokemon.created | date:"dd/MM/yyyy" }}</p>
            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}" style="display: flex; justify-content: center; align-items: center;">
              {{ type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>